<!Doctype html> 
<html> 
    <head>
        <title>JavaScript and Flask</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

    </head> 
    <body> 
        <div class="container" id="container">
            <div class="title-container" id="title-container">
                <h1 class="title" id="title">Welcome to my Application</h1> 
            </div>
        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>

</html> 