<!DOCTYPE html> 
<html> 
    <head>
        <title>Main page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </head>

    <body>
        <h1>Welcome to The Main Page {{ name }}</h1> 
        <h2> You are a memeber of the {{ club }} club </h2> 
        <a href="{{ url_for('change', name=name.lower()) }}">
            <button>Change the Club</button>
        </a>
    
    </body> 

</html> 